.footer-form {
    .footer-box {
        @media screen and (min-width: 480px) {
        display: block;
        margin-bottom: 60px;
        }
    
        @media screen and (min-width: 1140px) {
        justify-content: center;
        margin-left: 7%;
        }
    }
    
}
.footer-form__form {

    @media screen and (min-width: 1140px) {
       display: flex; 
    }
}

.footer-form__input-title {
    margin-bottom: 20px;

    text-align: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.footer-form__input-email {
    padding: 15px;
    width: 450px;
    height: 50px;

    color: rgba(255, 255, 255, 0.6);

    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;

    @media screen and (min-width: 480px) {
        margin-bottom: 20px;
    }
    @media screen and (min-width: 1140px) {
        width: 350px;
    }

}

.footer-form__input-email {

    &::placeholder {
        font-size: 16px;
        font-weight: 400;
        line-height: 1.25;

        color: rgba(255, 255, 255, 0.6);
    }
}
.footer-form__button-wrap {
    display: flex;
    justify-content: center;
}

.footer-form__button {
    display: flex;
    align-items: center;
    padding: 10px 40px;


    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;

    background-color: $accent-color;
    color: $hero__button;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;

    &::after {
        content: '';
        margin-left: 30px;
        display: inline-block;

        width: 24px;
        height: 24px;
        background-image: url(../images/icon-send.svg);
        color: $accent-color;
    }
    @media screen and (min-width: 1140px) {
        
    }
}